body {
    font-size: 14px;
    font-family: "Libre Franklin", Calibri, Arial, Helvetica;
    font-weight: 400;
}

    * { 
	margin: 0;
	padding: 0;
}

h1 {
	padding: 8px;
	font-size: 16px;
}


#meditation {
	font-size: 24px;
	color: green;
}
#rolld6 {
	margin-left: 8px;
}

/** add the same margin to the save button **/
#save {
	margin-left: 8px;
}
table#land {
    width: 100%; 
    border-spacing: 5px;
    text-align: center;
}
table#land , table#land  th, table#land  td  {
    border: 1px solid black;
    padding: 5px;
}
table#Iron {
    width: 100%; 
    
}
table#Iron , table#Iron  th  {
    padding: 5px;
}
 table#Iron  td {
    width: 50%; 
    padding: 5px;
 }
 
 .swMain {
	visibility: visible;
 }

 tr.swMain td {
    border-bottom: 1px solid silver;
 }
 
 .swHide {
	visibility: hidden
 }
 
 
/** add the same margin to the left of the status box
    but also make the text purple to make it stand out
	a little bit **/
#status {
	margin-left: 8px;
	color: purple;
}
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 28em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #999;
    padding: 0.25rem;
    text-align: left;
    font-size: .875em
}

th {
    font-weight: 700;
    font-size: 1.75em;
}

tr.swMain td:nth-child(3), tr.swMain td:nth-child(4)  {
    text-align: center;
}

/* Backgrounds */

.resIron, tr#IronResource td, tr#RefIronResource td, tr#MotorResource td, tr#CarResource td, tr#PlaneResource td {
    background-color: #f6f6f6;
}

.resCoal, tr#CoalResource td, tr#SteelResource td, tr#MechPartResource td, tr#ACResource td {
    background-color: #e2e2e2;
}

.resCopper, tr#CopperResource td, tr#SpoolResource td, tr#RefCopperResource td, tr#ElectronicResource td {
    background-color: #efe6de;
}

.resOil, tr#OilResource td, tr#GasResource td, tr#PlasticResource td {
    background-color: #d1c5ba;
}

.resSand, tr#SandResource td, tr#GlassResource td, tr#LightbulbResource td {
    background-color: #d0dfe2;
}

.resPower {
    background-color: #f4f3e3;
}

.resMoney {
    background-color: #dfedde;
    color: #516b51;
}

/* Dividers */

.divider {
    width: 100%;
    display: block;
    border-bottom: 1px solid silver;
    margin: 1em 0; 
    clear: both;
}

/* Unit Cards */

    table.unitCard {
        border-collapse: collapse;
        width: 45%;
        float: left;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    table.unitCard h2 {
        font-size: .75em;
        text-align: left;
    }

    table.unitCard td {
        position: relative;
        border: 1px solid #666;
        padding: .5em;
    }

    table.unitCard td p {
        margin: 1em 0 0 0;
    }

    table.unitCard td p.info {
        position: absolute;
        padding: .325em;
        background: #666;
        color: white;
        font-size: .625em;
        font-weight: 700;
        top:0;
        left:0;
        margin: 0;
    }

/* Resources */

.resource {
    padding: .25em;
    border-radius: 3px;
    border: 1px solid silver;
}
